.FeatutedProContainer{
    padding: 0 10px;
}
.feproImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.fepListTitles>p {
    margin-top: 10px;
    text-transform: capitalize;
}
.fepListTitles>h3 {
    font-size: 1rem;
    font-weight: 600;
}
.feRating {
    display: flex;
    align-items: center;
    gap: 5px;
}
.feRating>span{
    font-size: 13px;
}
.rating{
    background: #003580;
    color: #fff;
    border: none;
    border-radius: 5.81818px 5.81818px 5.81818px 0;
}
.complement{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}